<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List rides</title>
</head>
    <h1>All Rides</h1>
<body>

{% if rides %}
<table>
        <th> Pick up location </th>
	    <th> Destination </th>
        <th> Arrive time </th>
        <th> Pick up location </th>
        <th> Passenger number </th>
    </tr>
    {% for ride in rides %}
            <tr>
                <td>{{ride.pick_up_location}}</td>
                <td>{{ride.destination}}</td>
                <td>{{ride.arrive_time}}</td>
                <td>{{ride.status}}</td>
            </tr>
    {% endfor %}
</table>
{% endif %}
</body>
</html>
